@model FormModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @using (Html.BeginForm())
    {
        <div>
            @Html.LabelFor(m => m.Username)
            @Html.EditorFor(m => m.Username)
            <span asp-validation-for="Username"></span>
        </div>
        <div>
            @Html.LabelFor(m => m.Name)
            @Html.EditorFor(m => m.Name)
        </div>
        <div>
            @Html.LabelFor(m => m.Age)
            @Html.EditorFor(m => m.Age)
            <span asp-validation-for="Age"></span>
        </div>
        <div>
            <input type="submit" value="Save" />
        </div>
    }

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>